@font-face {
  font-family: 'Ambra Sans Text';
  src: url('./Ambra-Sans-Text-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambra Sans Text';
  src: url('./Ambra-Sans-Text-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambra Sans Text';
  src: url('./Ambra-Sans-Text-Bold.ttf') format('truetype');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}
